*{
    margin: 0;
    padding: 0;
}

.bodyStyle{
    background-color: black;
    border: 2px solid white;
    padding: 25px;
}


#main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#calculator{
    min-width: 300px;
    min-height: 465px;
}

#screen{
    min-height: 80px;
    max-width: 250px;
    min-width: 250px;
    margin: 10px 0 30px 0;
    background-color: white;
    display: flex;
    align-items: center;
}
#content{
    min-width: none;
    font-size: 35px;
}

#panel{
    min-height: 220px;
    max-width:300px;
    padding: 0px;
    border: 0;

}
.Btns{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button{
    height: 50px;
    width: 70px;
}

#topBtns > button{
    width: 140px;
}