*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body {
    touch-action: manipulation;
}

body{
    background-color: #4e8e58;
}

.bodyStyle{
    background-color:#17191a;
    padding: 25px;
}


#main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#calculator{
    min-width: 300px;
    min-height: 465px;
    border-radius: 30px;
}

#screen{
    min-height: 80px;
    max-width: 250px;
    min-width: 250px;
    margin: 10px 0;
    background-color: #000000;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
#content{
    min-width: none;
    font-size: 45px;
    font-weight: bold;
    color: #f5faf7;
}

#panel{
    min-height: 220px;
    max-width:300px;
    padding: 10px 0px;
    border: 0;
    border-radius: 20px;

}

.Btns{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

button{
    height: 50px;
    width: 70px;
    border-radius: 15px;
    background-color: #2f3135;
    font-size: 30px;
    color:#128c44;
    font-weight: 400;
    border: 0;
}

#topBtns > button{
    width: 140px;
    background-color: #5b5b5b;
    color:#949494;
}

#topBtns{
    margin-top: 10px;
    margin-bottom: 30px;
}
.operator{
    background-color: #077633;
    color: #f5faf7;
}

button:focus {
    outline: none;
}
